.Dashboard {
  background-color: rgb(100, 30, 70, 0.03);
  padding-top: 32px;
  padding-bottom: 64px;
  min-height: 100vh;
}

.Back {
  font-size: 28px;
  margin: 40px;
  vertical-align: middle;
  color: #aaa;
  cursor: pointer;
  transition: 0.1s;
}

.Back:hover {

  color: #666;
}

.Dashboard h1 {
  margin-bottom: 36px;
}

@media (max-width: 720px) {
  .Dashboard h1 {
    margin-top: 10px;
    margin-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
