.LandingPage {
  background: linear-gradient(166deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://img5.goodfon.com/wallpaper/nbig/8/89/pianino-boke-foto.jpg');
  height: 100vh;
  position: absolute;
  width: 100vw;
  background-size: cover;
  top: 0;
  color: rgb(240, 240, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LandingPage > div > div {
  background-color: rgba(116, 188, 78, 1.00);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: 0.1s;
}

.LandingPage > div > div:hover {
  background-color: rgba(140, 218, 92, 1.00);
}


.LandingPage > div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 30px;
  border-radius: 3px;
  border: 10px solid rgb(240, 240, 230);
}
