.FinalScore {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.FinalScore > div {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.2);
}

.FinalScore > div > div {
  display: flex;
  justify-content: center;
}

.FinalScore h2 span {
  font-size: 44;
  color: rgb(70, 80, 210);
}

.FinalScore h2 {
  font-size: 32px;
}

.FinalScore h3 {
  font-size: 24px;
}
